%li.chat-message
  .chat-message__header.clearfix
    %p.chat-message__name
      = message.user.name
    %p.chat-message__time
      = message.created_at.strftime("%Y/%m/%d %H:%M")
  %p.chat-message__body
    = message.body
  = image_tag message.image.url if message.image.present?
